@model _3_Patitos_S.A.Models.Productos

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Productos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre_producto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre_producto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha_ingreso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha_ingreso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha_egreso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha_egreso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID_Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID_Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_Ubicacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_Ubicacion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID_Producto">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
