@model _3_Patitos_S.A.Models.Productos

@{
    ViewData["Title"] = "Index";
}

<div class="card-header bg-black justify-content-between d-flex">
    <h3 class="text-black text-white ">Control de Inventario</h3>
    <button type="button" class="btn orange m-1 btn-sm text-white" data-bs-toggle="modal" data-bs-target="#CreateModal"><i class="bi bi-plus-circle"></i> Agregar Producto</button>
</div>

<!-- Show producto-->
<div class="row row-cols-1 row-cols-md-4 g-4">
    @if (ViewBag.ProductosList.Count > 0)
    {
        @foreach (var p in ViewBag.ProductosList)
        {
            <div class="col">
                <div class="card">
                    <h4 class="card-title m-3">@p.Nombre_producto</h4>
                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(p.Imagen)" class="card-img-top MaxSize-img" alt="...">
                    <div class="card-body">
                        <hr class="hr-gold" style="height: 2px" />

                        <div class="form-group d-flex">
                            <div class="form-group d-flex ">
                                <label class="col-form-label mx-1">Cantidad:</label>
                                <label class="col-form-label mx-2">@p.Cantidad</label>
                            </div>

                            <div class="form-group d-flex">
                                <label class="col-form-label mx-1 d-block">Precio:</label>
                                <label class="col-form-label">@p.Precio</label>
                            </div>
                        </div>
                        <button type="button" onclick="EditProducto(@p.ID_Producto)" class="btn btn-warning m-1 btn-sm" data-bs-toggle="modal"><i class="bi bi-pencil-square"></i> Editar</button>
                        <button type="button" onclick="DetailProducto(@p.ID_Producto)" class="btn btn-secondary m-1 btn-sm" data-bs-toggle="modal" data-bs-target="#DetailModal"><i class="bi bi-card-text"></i> Detalles</button>
                        <button type="button" onclick="DelConfirm(@p.ID_Producto)" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#DeleteModal"><i class="bi bi-trash3"></i> Eliminar</button>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="d-flex align-items-center justify-content-center" style="width: 500vh;">
            <h5>No hay productos en el inventario</h5>
        </div>
    }

</div>

<!-- Create producto-->
<div class="modal fade" id="CreateModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-black text-white">
                <h5 class="modal-title" id="staticBackdropLabel">Agregar Producto</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form enctype="multipart/form-data" asp-action="Create" asp-controller="Productos" method="post">
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label class="col-form-label">Codigo del producto</label>
                        <input asp-for="ID_Producto" class="form-control" type="text" />
                        <span asp-validation-for="ID_Producto" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="col-form-label">Nombre del producto</label>
                        <input asp-for="Nombre_producto" class="form-control" type="text" />
                        <span asp-validation-for="Nombre_producto" class="text-danger"></span>
                    </div>

                    <div class="form-group d-flex">
                        <div class="form-group col-5 m-3">
                            <label class="col-form-label">Cantidad</label>
                            <input asp-for="Cantidad" class="form-control" type="number" />
                            <span asp-validation-for="Cantidad" class="text-danger"></span>
                        </div>

                        <div class="form-group col-5 m-3">
                            <label class="col-form-label">Precio unitario</label>
                            <input asp-for="Precio" class="form-control" type="number" />
                            <span asp-validation-for="Precio" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-form-label">Descripción del producto</label>
                        <textarea asp-for="Detalles" class="form-control"></textarea>
                        <span asp-validation-for="Detalles" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="col-form-label">Imagen del producto</label>
                        <input asp-for="Img" class="form-control" type="file" required/>
                        <span asp-validation-for="Img" class="text-danger"></span>
                    </div>

                    <div class="form-group d-flex">
                        <div class="form-group col-5 m-3">
                            <label class="col-form-label">Seleccione la ubicación</label>
                            @Html.DropDownListFor(p => p.Id_Ubicacion, (SelectList)ViewBag.Ubicacion, new { @class = "form-select"})
                        </div>
                        <div class="form-group col-5 m-3">
                            <label class="col-form-label ">Seleccione el estado</label>
                            @Html.DropDownListFor(p => p.ID_Estado, (SelectList)ViewBag.Estado, new { @class = "form-select"})
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn orange text-white">Agregar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Edit producto-->
<div class="modal fade" id="EditModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-black text-white">
                <h5 class="modal-title" id="staticBackdropLabel">Editar Producto</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form enctype="multipart/form-data" asp-action="Create" asp-controller="Productos" method="post">
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <textarea id="_imagen" asp-for="Imagen" hidden></textarea>

                    <div class="form-group">
                        <label class="col-form-label">Codigo del producto</label>
                        <input asp-for="ID_Producto" class="form-control" id="_id" type="text" readonly />
                        <span asp-validation-for="ID_Producto" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="col-form-label">Nombre del producto</label>
                        <input asp-for="Nombre_producto" class="form-control" id="_nombre" type="text" />
                        <span asp-validation-for="Nombre_producto" class="text-danger"></span>
                    </div>

                    <div class="form-group d-flex">
                        <div class="form-group col-5 m-3">
                            <label class="col-form-label">Cantidad</label>
                            <input asp-for="Cantidad" class="form-control" id="_cant" type="number" />
                            <span asp-validation-for="Cantidad" class="text-danger"></span>
                        </div>

                        <div class="form-group col-5 m-3">
                            <label class="col-form-label">Precio unitario</label>
                            <input asp-for="Precio" class="form-control" id="_precio" type="number" />
                            <span asp-validation-for="Precio" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-form-label">Descripción del producto</label>
                        <textarea asp-for="Detalles" class="form-control" id="_detalle"></textarea>
                        <span asp-validation-for="Detalles" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="col-form-label">Imagen del producto</label>
                        <input asp-for="Img" class="form-control" type="file" id="_img" />
                    </div>

                    <div class="form-group d-flex">
                        <div class="form-group col-5 m-3">
                            <label class="col-form-label">Seleccione la ubicación</label>
                            @Html.DropDownListFor(p => p.Id_Ubicacion, (SelectList)ViewBag.Ubicacion, new { @class = "form-select", @id="_ubi"})
                        </div>
                        <div class="form-group col-5 m-3">
                            <label class="col-form-label ">Seleccione el estado</label>
                            @Html.DropDownListFor(p => p.ID_Estado, (SelectList)ViewBag.Estado, new { @class = "form-select" , @id="_e"})
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-warning text-white">Guardar cambios</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Delete producto-->
<div class="modal fade" id="DeleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-black text-white">
                <h5 class="modal-title" id="staticBackdropLabel">Eliminar Producto</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="Delete" method="post">
                <div class="modal-body">
                    <input id="_ide" class="form-control" asp-for="ID_Estado" name="id" hidden />
                    ¿Está seguro de eliminar el producto?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" value="Delete" class="btn btn-danger">Eliminar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Detail producto-->
<div class="modal fade" id="DetailModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-black text-white">
                <h5 class="modal-title" id="staticBackdropLabel">Información del Producto</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label class="col-form-label">Codigo del producto</label>
                    <input class="form-control" id="_id2" type="text" readonly />
                </div>

                <div class="form-group">
                    <label class="col-form-label">Nombre del producto</label>
                    <input class="form-control" id="_nombre2" type="text" readonly />
                </div>

                <div class="form-group d-flex">
                    <div class="form-group col-5 m-3">
                        <label class="col-form-label">Cantidad</label>
                        <input class="form-control" id="_cant2" type="number" readonly />
                    </div>

                    <div class="form-group col-5 m-3">
                        <label class="col-form-label">Precio unitario</label>
                        <input class="form-control" id="_precio2" type="number"  readonly />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-form-label">Descripción del producto</label>
                    <textarea class="form-control" id="_detalle2" readonly ></textarea>
                </div>

                <div class="form-group d-flex">
                    <div class="form-group col-5 m-3">
                        <label class="col-form-label">Ubicación</label>
                        @Html.DropDownListFor(p => p.Id_Ubicacion, (SelectList)ViewBag.Ubicacion, new { @class = "form-control", @id="_ubi2", @disabled="disabled"})
                    </div>
                    <div class="form-group col-5 m-3">
                        <label class="col-form-label ">Estado</label>
                        @Html.DropDownListFor(p => p.ID_Estado, (SelectList)ViewBag.Estado, new { @class = "form-control" , @id="_e2", @disabled="disabled"})
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Regresar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/productos.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}