@model _3_Patitos_S.A.Models.Productos

@{
    ViewData["Title"] = "Index";
}
<div class="text-center mb-2">
    <h2>Catalogo de Productos</h2>
    <hr class=" hr-gold " style="height: 2px" />
</div>
<!-- Show producto-->
<div class="row row-cols-1 row-cols-md-4 g-4">
    @if (ViewBag.ProductosList != null)
    {
        @foreach (var p in ViewBag.ProductosList)
        {
            <div class="col">
                <div class="card">
                    <h4 class="card-title m-3">@p.Nombre_producto</h4>
                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(p.Imagen)" class="card-img-top MaxSize-img" alt="...">

                    <div class="card-body">
                        <hr class="hr-gold" style="height: 2px" />

                        <div class="form-group d-flex">
                            <div class="form-group d-flex ">
                                <label class="col-form-label mx-1">Cantidad:</label>
                                <label class="col-form-label mx-2">@p.Cantidad</label>
                            </div>

                            <div class="form-group d-flex">
                                <label class="col-form-label mx-1 d-block">Precio:</label>
                                <label class="col-form-label">@p.Precio</label>
                            </div>
                        </div >
                        <div class="form-group">
                            <label class="col-form-label mx-1 d-block">Detalle:</label>
                            <label class="col-form-label">@p.Detalles</label>
                        </div>
                        @if (ViewData["Error"] != null)
                        {
                            <span class="text-danger">@ViewData["Error"]</span>
                        }
                        <a class="btn orange text-white m-1 btn-sm" asp-area="" asp-controller="Pedidos" asp-action="Create" asp-route-id="@p.ID_Producto">Realizar pedido</a>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="d-flex align-items-center justify-content-center" style="width: 500vh;">
            <h5>No hay productos en el inventario</h5>
        </div>
    }

</div>
